accelerate==0.21.0 ; python_version >= "3.10" and python_version < "3.12"
aiofiles==23.2.1 ; python_version >= "3.10" and python_version < "3.12"
aiohappyeyeballs==2.4.4 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.11.11 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.2 ; python_version >= "3.10" and python_version < "3.12"
altair==5.5.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.8.0 ; python_version >= "3.10" and python_version < "3.12"
astor==0.8.1 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==25.1.0 ; python_version >= "3.10" and python_version < "3.12"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
beam-sdk==0.15.9 ; python_version >= "3.10" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "3.12"
bitsandbytes==0.41.3.post2 ; python_version >= "3.10" and python_version < "3.12"
certifi==2024.12.14 ; python_version >= "3.10" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
comet-llm==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
comet-ml==3.35.1 ; python_version >= "3.10" and python_version < "3.12"
configobj==5.0.9 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
croniter==1.4.1 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
dataclasses-json==0.5.14 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.12"
dulwich==0.22.7 ; python_version >= "3.10" and python_version < "3.12"
einops==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
emoji==2.14.1 ; python_version >= "3.10" and python_version < "3.12"
everett[ini]==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.115.7 ; python_version >= "3.10" and python_version < "3.12"
ffmpy==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.17.0 ; python_version >= "3.10" and python_version < "3.12"
filetype==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
fire==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
flatten-dict==0.4.2 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.55.6 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2023.6.0 ; python_version >= "3.10" and python_version < "3.12"
gradio-client==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
gradio==3.50.2 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.1.1 ; python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
grpcio-tools==1.70.0 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.70.0 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
h2==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
hpack==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
httpcore==1.0.7 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.12"
httpx[http2]==0.28.1 ; python_version >= "3.10" and python_version < "3.12"
huggingface-hub==0.27.1 ; python_version >= "3.10" and python_version < "3.12"
hyperframe==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.10 ; python_version >= "3.10" and python_version < "3.12"
importlib-metadata==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
importlib-resources==6.5.2 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.5 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.8 ; python_version >= "3.10" and python_version < "3.12"
langchain==0.0.288 ; python_version >= "3.10" and python_version < "3.12"
langdetect==1.0.9 ; python_version >= "3.10" and python_version < "3.12"
langsmith==0.0.92 ; python_version >= "3.10" and python_version < "3.12"
lxml==5.3.0 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.12"
marshmallow-dataclass==8.6.1 ; python_version >= "3.10" and python_version < "3.12"
marshmallow==3.18.0 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.10.0 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
narwhals==1.24.0 ; python_version >= "3.10" and python_version < "3.12"
networkx==3.4.2 ; python_version >= "3.10" and python_version < "3.12"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.12"
numexpr==2.10.2 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
orjson==3.10.15 ; python_version >= "3.10" and python_version < "3.12"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.12"
peft==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
pillow==10.4.0 ; python_version >= "3.10" and python_version < "3.12"
propcache==0.2.1 ; python_version >= "3.10" and python_version < "3.12"
protobuf==5.29.3 ; python_version >= "3.10" and python_version < "3.12"
psutil==6.1.1 ; python_version >= "3.10" and python_version < "3.12"
pydantic==1.10.21 ; python_version >= "3.10" and python_version < "3.12"
pydub==0.25.1 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.2.1 ; python_version >= "3.10" and python_version < "3.12"
python-box==6.1.0 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
python-iso639==2025.1.27 ; python_version >= "3.10" and python_version < "3.12"
python-magic==0.4.27 ; python_version >= "3.10" and python_version < "3.12"
python-multipart==0.0.20 ; python_version >= "3.10" and python_version < "3.12"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.12"
qdrant-client==1.1.1 ; python_version >= "3.10" and python_version < "3.12"
rapidfuzz==3.11.0 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.36.2 ; python_version >= "3.10" and python_version < "3.12"
regex==2024.11.6 ; python_version >= "3.10" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.22.3 ; python_version >= "3.10" and python_version < "3.12"
safetensors==0.5.2 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.15.1 ; python_version >= "3.10" and python_version < "3.12"
semantic-version==2.10.0 ; python_version >= "3.10" and python_version < "3.12"
sentry-sdk==2.20.0 ; python_version >= "3.10" and python_version < "3.12"
setuptools==75.8.0 ; python_version >= "3.10" and python_version < "3.12"
simplejson==3.19.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.37 ; python_version >= "3.10" and python_version < "3.12"
starlette==0.45.3 ; python_version >= "3.10" and python_version < "3.12"
sympy==1.13.3 ; python_version >= "3.10" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
tenacity==8.5.0 ; python_version >= "3.10" and python_version < "3.12"
termcolor==2.5.0 ; python_version >= "3.10" and python_version < "3.12"
tokenizers==0.13.3 ; python_version >= "3.10" and python_version < "3.12"
torch==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.12"
transformers==4.32.0 ; python_version >= "3.10" and python_version < "3.12"
typeguard==2.13.3 ; python_version >= "3.10" and python_version < "3.12"
types-requests==2.31.0.6 ; python_version >= "3.10" and python_version < "3.12"
types-urllib3==1.26.25.14 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2025.1 ; python_version >= "3.10" and python_version < "3.12"
unstructured==0.10.30 ; python_version >= "3.10" and python_version < "3.12"
urllib3==1.26.20 ; python_version >= "3.10" and python_version < "3.12"
uvicorn==0.34.0 ; python_version >= "3.10" and python_version < "3.12"
validators==0.20.0 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.3.3 ; python_version >= "3.10" and python_version < "3.12"
websockets==11.0.3 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.17.2 ; python_version >= "3.10" and python_version < "3.12"
wurlitzer==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.18.3 ; python_version >= "3.10" and python_version < "3.12"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.12"
